button:disabled{
  background-color: #cccccc;
}

.color-button{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.hair-button{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

/*body color type*/
.orange{
  background-color: #dfa039;
}

.brown {
  background-color: #492d00;

}

.light{
  background-color: #c1c1c1;

}

.dark {
  background-color: #363636;

}

.red{
  background-color: #b00101;

}

.blue{
  background-color: #017ab0;

}

.green{
  background-color: #2ab001;

}
/*other colors*/


.black{
  background-color: #000;

}


.white{
  background-color: #fff;

}

.yellow{
  background-color: #c4c046;

}

.pink{
  background-color: #FF0080;

}

.grey{
  background-color: #aeaeae;

}


/*hair type*/
.none{
  background: url(./img/sprites/hair/0p,png)

}

.basic{
  background: url(./img/sprites/hair/1p,png)

}
