<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chibimmon</title>
    
    <link type="text/css" rel="stylesheet" href="../node_modules/purecss/build/pure.css">
    <script>require('electron')</script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
    <div class="pure-g" id="index">
        
        <div id="leftContent">
            
        </div>
        
        <div class="pure-u-1-3" id="character-options">
            <!--TODO hair, colors and class options total 5-->
            <h2>Customize Character</h2>
            <form>
                <div>
                    <span>Name</span> <br>
                    <input type="text" name="text" value="" >
                </div>
                <div>
                    <span>Class</span> <br>
                    <input type="radio" name="class" value="male" checked> Soldier<br>
                    <input type="radio" name="class" value="female"> Mage<br>
                    <input type="radio" name="class" value="other"> Rogue
                </div>
                <div>
                    <span>Orientation</span> <br>
                    <input type="radio" name="orientation" value="male" checked> Ofensive<br>
                    <input type="radio" name="orientation" value="female"> Defensive<br>
                    <input type="radio" name="orientation" value="other"> Neutral
                </div>
                <div>
                    <span>Body color</span><br>
                    <!--<input type="color" id="color-picker" :value="color.body" v-on:change="(item)=> console.log(this)" name="body-color" >


                    -->
                    
                    <color-picker v-model="colors" />
                    <!-- TODO vue-color document.getElementById('color-picker').value-->
                </div>
                <div>
                    <span>Hair</span>
                    <!-- TODO icons of hair-->
                </div>
                <div>
                    <span>Hair color</span><br>
                    <input type="color" v-model="color.head"  v-on:change="(event)=> console.log(event)" name="head-color" >
                </div>
            </form> 
            
        </div>
    </div>
    
    <script src="../node_modules/phaser-ce/build/phaser.min.js"></script> 
    <script src="./js/newCharacter.js"></script> 
</body>
</html>
